<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:event.properties</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="ignoreResourceNotFound" value="true"/>-->
        <!--<property name="systemPropertiesMode">-->
            <!--<util:constant-->
                    <!--static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>-->
        <!--</property>-->
    <!--</bean>-->

    <context:annotation-config/>
    <context:property-placeholder location="event.properties"/>

    <bean id="app" class="epam.App">
        <constructor-arg>
            <map>
                <entry key="ENTER_EVENT" value-ref="enterEvent"/>
                <entry key="GET_EVENT" value-ref="getEvent"/>
                <entry key="GET_EVENT_BY_NAME" value-ref="getEventByName"/>
                <entry key="GET_ALL_EVENTS" value-ref="getAllEvents"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="action" class="epam.beans.Action">
        <property name="event" ref="event"/>
    </bean>

    <bean id="view" class="epam.view.View"/>

    <bean id="event" class="epam.beans.Event">
        <!--<property name="name" value="${name}"/>-->
        <!--<property name="price" value="${price}"/>-->
        <constructor-arg index="0" value="${name}"/>
        <constructor-arg index="1" value="${price}"/>
    </bean>

    <bean id="dateEditor"
          class="org.springframework.beans.propertyeditors.CustomDateEditor">
        <constructor-arg>
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg value="yyyy-MM-dd"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="true"/>

    </bean>

    <!--<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
        <!--<property name="customEditors">-->
            <!--<map>-->
                <!--<entry key="org.joda.time.LocalDate">-->
                    <!--<ref local="dateEditor"/>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <util:map id="AdditionalParams" scope="prototype" map-class="java.util.HashMap"
              key-type="java.lang.String" value-type="java.lang.String">
        <entry key="a" value="Now"/>
        <entry key="b" value="Then"/>
    </util:map>

    <bean id="eventContainerDao" class="epam.dao.EventContainerDao">
        <property name="eventBase">
            <map key-type="java.lang.String" value-type="java.lang.String">
                <entry key="a" value="this"/>
                <entry key="b" value="that"/>
                <entry key="c" value="and the others"/>
            </map>
        </property>
    </bean>

    <import resource="command.xml"/>

    <!--xmlns:util="http://www.springframework.org/schema/util"-->
    <!--http://www.springframework.org/schema/util-->
    <!--http://www.springframework.org/schema/util/spring-util-3.2.xsd"-->
</beans>