<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="event.properties"/>

    <bean id="creator" class="epam.helper.ContextCreator"/>

    <bean id="app" class="epam.App">
        <constructor-arg>
            <map>
                <entry key="ENTER_EVENT" value-ref="enterEvent"/>
                <entry key="GET_EVENT" value-ref="getEvent"/>
                <entry key="GET_EVENT_BY_NAME" value-ref="getEventByName"/>
                <entry key="GET_ALL_EVENTS" value-ref="getAllEvents"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="action" class="epam.actions.Action" abstract="true">
    </bean>

    <bean id="moderatorAction" class="epam.actions.ModeratorAction" parent="action"/>

    <bean id="userAction" class="epam.actions.UserAction" parent="action" init-method="init"/>

    <bean id="user" class="epam.beans.User"/>

    <bean id="view" class="epam.view.View"/>

    <bean id="event" class="epam.beans.Event" scope="prototype">
        <constructor-arg index="0" value="${name}"/>
        <constructor-arg index="1" value="${price}"/>
        <!--<property name="airDates" ref="airDates"/>-->
    </bean>

    <!--<bean id="dateFormat" class="org.springframework.format.datetime.joda.DateTimeFormatterFactory">-->
        <!--<constructor-arg value="yyyy-MM-dd"/>-->
    <!--</bean>-->

    <!--<util:set id="airDates" set-class="java.util.TreeSet">-->
        <!--<bean factory-bean="dateFormat" factory-method="createDateTimeFormatter">-->
            <!--<constructor-arg value="08-08-12"/>-->
        <!--</bean>-->
        <!--<bean factory-bean="dateFormat" factory-method="createDateTimeFormatter">-->
            <!--<constructor-arg value="08-08-14"/>-->
        <!--</bean>-->
    <!--</util:set>-->

    <util:set id="airDates" set-class="java.util.TreeSet" value-type="java.lang.String">
        <value>"03-02-01"</value>
        <value>"02-01-01</value>
        <value>"03-01-02"</value>
    </util:set>

    <bean id="eventContainerDao" class="epam.dao.EventContainerDao">
        <property name="eventBase">
            <map key-type="java.lang.String" value-type="java.lang.String">
                <entry key="a" value="this"/>
                <entry key="b" value="that"/>
                <entry key="c" value="and the others"/>
            </map>
        </property>
    </bean>

    <import resource="command.xml"/>

    <!--xmlns:util="http://www.springframework.org/schema/util"-->
    <!--http://www.springframework.org/schema/util-->
    <!--http://www.springframework.org/schema/util/spring-util-3.2.xsd"-->
</beans>