<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="config.properties"/>

    <bean id="creator" class="epam.helper.ContextCreator"/>

    <bean id="app" class="epam.App">
        <constructor-arg>
            <map>
                <entry key="ENTER_EVENT" value-ref="enterEvent"/>
                <entry key="GET_EVENT" value-ref="getEvent"/>
                <entry key="GET_EVENT_BY_NAME" value-ref="getEventByName"/>
                <entry key="GET_ALL_EVENTS" value-ref="getAllEvents"/>
                <entry key="GET_USER_BY_EMAIL" value-ref="getUserByEmail"/>
                <entry key="REMOVE_EVENT_BY_NAME" value-ref="removeEventByName"/>
                <entry key="BOOK_TICKET" value-ref="bookTicket"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="action" class="epam.actions.Action" abstract="true">
    </bean>

    <bean id="moderatorAction" class="epam.actions.ModeratorAction" parent="action" init-method="init" lazy-init="true"/>

    <bean id="userAction" class="epam.actions.UserAction" parent="action" init-method="init" lazy-init="true"/>

    <bean id="user" class="epam.beans.User"/>

    <bean id="moderator" class="epam.beans.Moderator"/>

    <bean id="view" class="epam.view.View"/>

    <bean id="event" class="epam.beans.Event" scope="prototype"/>

    <import resource="command.xml"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbcDriver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${jdbcUserName}"/>
        <property name="password" value="${password}"/>
        <property name="initialSize" value="3"/>
    </bean>

</beans>